main {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #eaecf0;
  border-radius: 16px;
  width: 272px;

  p {
    padding: 20px 0 0px 0;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--text-secondary);
  }

  h1 {
    padding: 12px 0 12px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--text-secondary);
  }
}

.addButton {
  width: 272px;
  height: 51px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background: var(--add-button);

  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--primary-color);
}

.modal {
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;

  h1 {
    padding: 20px 20px 0 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.04px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  div {
    padding: 0px 20px 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.02em;
      text-align: left;
    }

    input {
      width: 256px;
      height: 20 px;
      padding: 16px 0 16px 16px;
      border-radius: 8px;
      border: 1px solid #d7dde9;

      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.02em;
      text-align: left;
    }

    input::placeholder {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.02em;
      text-align: left;
    }
    div {
      padding: 0;

      .p-delete {
        color: var(--text-secondary);
      }

      .add,
      .delete {
        width: 272px;
        height: 51px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 8px;
        background: var(--add-button);

        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        text-align: left;
        color: var(--primary-color);
      }

      .delete {
        background: var(--delete-button);
      }

      .cancel {
        width: 272px;
        height: 51px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 8px;
        background: var(--cancel-button);

        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #000000;
      }
    }
  }
}

@media (min-width: 800px) {
  main {
    width: 450px;
  }
  .addButton {
    width: 450px;
  }
  .modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    height: 270px;
    background-color: white;
    transform: translate(-50%, -50%);
    min-height: 0;
    width: 450px;
    border: 1px;
    z-index: 20;
    box-shadow: 0px 24px 48px 12px #1018282e;
    border-radius: 16px;

    div {
      width: 450px;
      height: 190px;
      z-index: 20;
      padding: 0 0 0 20px;
      
      input {
        margin: 10px 0 10px 0;
        width: 370px;
      }
      div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 386px;
        height: 51px;
        z-index: 20;
        .add,
        .cancel,
        .delete {
          margin: 0;
          width: 185px;
          height: 51px;
          z-index: 20;
        }
      }
      .body-delete{
        height: 100px;
      }
    }
  }
  #modal-delete {
    height: 220px;
  }
  #blur {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    -webkit-filter: blur(8px);
    position: fixed;
    z-index: 1;
  }
}
